.seat {
  -webkit-appearance: none;
  border: none;
  padding: 5px;
  display: inline-block;
  color: var(--seat-color-default);
  background-color: var(--seat-bg-default);
}

.seat--selected {
  color: var(--seat-color-selected);
  background-color: var(--seat-bg-selected);
}

.seat--unavailable {
  pointer-events: none;
  color: var(--seat-color-unavailable);
  background-color: var(--seat-bg-unavailable);
}
